<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>Help</h1>
	<p>Bit bucket <a href="https://bitbucket.org/shubhamkhandare/sample_app/src">Repo</a></p>
</body>
</html>

