// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-partial
{
	overflow: auto;
	list-style-type: none;

    padding: 10px 0;
 	padding-left: 10px;   
    
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;

    margin-top: 10px;
 
}