// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.microposts{
  list-style-type: none;
  padding: 0;
  width: 100%;
  
  li{
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    list-style-type: none;
    
  }
  .micropost-li{
  	background-color: gray;
  }
 .user{
    margin-top: 5px;
    padding: 0
  }

  .content{
    display: block;
    word-wrap: break-word;
    margin-left: 60px;
    img{
      display:  block;
      padding: 5px 0;
    }
  }
}*/