<footer class="footer">
  <small>
    Ruby on rails app by <a href="http://www.shubhamkhandare.xyz">Shubham Khandare</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%=  link_to "Help", help_path %> </li>
      <li> <%= link_to "Repository", "https://github.com/ShubhamKhandare/socialapp" %> </li>
    </ul>
  </nav>
</footer>